@font-face {
    font-family: "Intuitive";
    src: url("fonts/intuitive.ttf");
}

header{
    background-color: white;
    font-size: 15px;
    font-family: "Intuitive";
}
.iconrs{
    text-align: right;
    margin-top: -1%;
}
a{
	color: #ff8000;
    text-decoration: none;
}
.menu{
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    font-family: "Intuitive";
}
/* Menu déroulant */
#texte2, #texte2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#texte2 {
    text-align: center;
}
#texte2 li {
    display: inline-block;
}
#texte2 ul li {
    display: inherit;
    font-size: 16px;
    margin-top: 4px;
}
#texte2 a{
    text-decoration: none;
    display: block;
    color: #ff8000;
}
#texte2 ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#texte2 li:hover ul {
    left: auto;
}
/*Fin du menu déroulant*/


/*Début du Footer*/
footer{
    background-color: black;
    background-size: cover;
    margin-top: 2%;
    padding-bottom: 2%;
}
#filactuinsta {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.insta{
    width: 250px;
    height: 250px;
}
.footer-insta{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.para-insta{
    color: #ff8000;
    font-size: 30px;
    font-family: 'Intuitive';
    margin-right: 5%;
}
.mosaique-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 3%;
}
.coordo-mosaique{
    color: white;
}
.fournisseur-mosaique {
    color: white;
}
.mention-legale{
    color:white;
}
/*Fin du footer*/