@font-face {
    font-family: "Intuitive";
    src: url("fonts/intuitive.ttf");
}

header{
    background-color: white;
    font-size: 15px;
    font-family: "Intuitive";
}
.iconrs{
    text-align: right;
    margin-top: -1%;
}
a{
	color: #ff8000;
    text-decoration: none;
}
.menu{
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    font-family: "Intuitive";
}
/* Menu déroulant */
#texte2, #texte2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#texte2 {
    text-align: center;
}
#texte2 li {
    display: inline-block;
}
#texte2 ul li {
    display: inherit;
    font-size: 16px;
    margin-top: 4px;
}
#texte2 a{
    text-decoration: none;
    display: block;
    color: #ff8000;
}
#texte2 ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#texte2 li:hover ul {
    left: auto;
}
/*Fin du menu déroulant*/

/*Début du caroussel*/
#caroussel{
    display: flex;
    justify-content: center;
}
.img-caroussel{
    margin-right: 2%;
}
/*Fin du caroussel*/

/*Début de nos engagements*/
.title-ne{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
}
h2 {
    font-family: "Intuitive";
    font-size: 40px;
}
.icon-ne{
    background-image: url("images/tarnetgaronne.png");
    background-repeat: no-repeat;
    background-size: cover;    
}
.icon-part1{
    display: flex;
    justify-content: space-around;
}

#text-partie1 {
    display: flex;
    justify-content: space-around;
}
h3{
    width: 6%;
    margin-top: -1%;
    text-align: center;
    font-family: 'Intuitive';
    font-size: 25px;
}
.icon-part2{
    display: flex;
    justify-content: space-around;
}
#text-partie2{
    display: flex;
    justify-content: space-around;
}
#button-ne{
    margin: 3% 0% 3% 40%;
    text-align: center;
    font-size: 140%;
    width: 20%;
}
/*Fin de nos engagements*/
/*Début de Fournissez B&Cie*/
.fournisseur{
    display: flex;
}
.fournisseur-texte{
    margin-top: -3%;
    text-align: center;
}
h4{
    text-align: center;
    font-family: "Intuitive";
    font-size: 25px;
    color: #ff0000;
}
.fournisseur-image {
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
}
.fournisseur-para{
    font-family: 'Tahoma', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 5%;
    text-align: center;
}
#rejoignez-nous{
    margin-top: 2%;
    font-size: 120%;
}
/*Fin de Fournissez B&cie*/

/*Début des chiffres*/
.chiffre-ne{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.chiffres{
    display:flex;
    justify-content: space-around;
}
.nbr{
    font-family: 'Intuitive';
    font-size: 60px;
    color: #41a62b;
    margin-right: 4%;
}
.text-chiffres{
    display:flex;
    justify-content: space-around;
}
.para-nbr{
    font-family: 'Intuitive';
    font-size: 25px;
    color: #ff0000;
    width: 10%;
    margin-top: -2%;
    
}
/*Fin des chiffres*/
/*Début du Footer*/
footer{
    background-color: black;
    background-size: cover;
    margin-top: 2%;
    padding-bottom: 2%;
}
#filactuinsta {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.insta{
    width: 250px;
    height: 250px;
}
.footer-insta{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.para-insta{
    color: #ff8000;
    font-size: 30px;
    font-family: 'Intuitive';
    margin-right: 5%;
}
.mosaique-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 3%;
}
.coordo-mosaique{
    color: white;
}
.fournisseur-mosaique {
    color: white;
}
.mention-legale{
    color:white;
}
/*Fin du footer*/